html,
body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
}

#title {
  width: 100%;
  text-align: center;
  height: 100vh;
}

button:hover {
  color: green;
  font-size: 20px;
  cursor: pointer;
}

.main-section {
  border: solid red 2px;
  padding: 40vh;
  background-size: cover;
  background-image: url("../images/main-background.png");
}
